nav.navbar {
  background-color: #ffbb33;
  font-size: 24px;
  padding: 0px;
  margin: 0px;
  align-items: start; }
  nav.navbar a[class="navbar-brand"] {
    padding: 0px;
    margin: 0px;
    width: 283px; }
    nav.navbar a[class="navbar-brand"] #logo {
      width: 100%;
      border: 1px #be2540 solid; }

div.site-navigation {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  vertical-align: bottom;
  margin-bottom: 0;
  height: 100%; }
  div.site-navigation ul.navbar-nav {
    width: 100%;
    text-align: center;
    color: black;
    height: 100%; }
    div.site-navigation ul.navbar-nav li.nav-item {
      padding: 0px 0px 0px 0px;
      justify-content: center; }
      div.site-navigation ul.navbar-nav li.nav-item:hover {
        background-color: #c35065; }
      div.site-navigation ul.navbar-nav li.nav-item a.nav-link {
        width: 100%;
        padding: 0px;
        margin: 0;
        height: 100%;
        color: black; }
        div.site-navigation ul.navbar-nav li.nav-item a.nav-link:hover {
          color: #ffbb33; }
      div.site-navigation ul.navbar-nav li.nav-item .nav-link:hover, div.site-navigation ul.navbar-nav li.nav-item .nav-link:visited {
        font-weight: bold;
        vertical-align: middle; }
      div.site-navigation ul.navbar-nav li.nav-item .nav-link:active {
        font-weight: bold;
        color: red; }
    div.site-navigation ul.navbar-nav .active {
      font-weight: bold; }

#central-text {
  padding-top: 40px;
  max-width: 740px;
  font-family: Georgia, Cambria, "Times New Roman", Times,serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em; }
  #central-text div {
    margin-bottom: 1rem; }
  #central-text .responsive-img {
    max-width: 100%;
    height: auto; }
  #central-text figcaption {
    font-size: 0.25em; }

p {
  text-align: justify; }

.container-fluid {
  padding: 50px; }

#myphoto {
  min-width: auto;
  height: 100px; }

footer .footer-links {
  background-color: #ffbb33;
  padding: 10px 0px 10px; }
footer div.social-media-contact * {
  text-align: center; }
footer div.social-media-contact a {
  font-size: 16px; }
footer div.social-media-contact span {
  font-size: 20px; }
footer #social-media-title {
  height: auto;
  font-size: 24px;
  min-width: 50%;
  margin-bottom: 0.2em; }
footer .fa-github {
  color: black; }
  footer .fa-github:before {
    margin-right: 8px; }
footer .fa-linkedin {
  color: #0077b5; }
  footer .fa-linkedin:before {
    margin-right: 8px; }

#author-note {
  background-color: #c35065;
  color: black;
  border-top: 1px black solid; }
  #author-note p {
    margin-bottom: 0; }

@media (max-width: 576px) {
  header {
    margin-bottom: 20px; }
    header > nav.navbar[role="navigation"] {
      justify-content: center;
      height: auto; }
      header > nav.navbar[role="navigation"] > a {
        width: 100%;
        max-width: 265px;
        margin: 0; }
        header > nav.navbar[role="navigation"] > a > img#logo {
          width: 100%;
          border-radius: 10px;
          overflow: auto; }
      header > nav.navbar[role="navigation"] #toggler {
        width: 100%;
        border: 3px rgba(0, 0, 0, 0.6) solid;
        background-color: #be2540;
        border-radius: 0.5rem;
        max-width: 175px;
        height: 48px;
        margin: 5px 63.2px; }
      header > nav.navbar[role="navigation"] div {
        max-width: 100%; }
        header > nav.navbar[role="navigation"] div ul.navbar-nav > li.nav-item > a.nav-link {
          width: 100%;
          margin: auto; } }
@media (min-width: 576px) {
  header {
    margin-bottom: 100px; }
    header nav {
      height: 80px; }
      header nav > a {
        min-width: 283px; }
    header #logo {
      border-radius: 12.5px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      overflow: visible; }
    header div > ul.navbar-nav > li.nav-item > a.nav-link {
      line-height: 37px;
      height: 100%;
      min-width: 135px; }

  footer div > nav {
    height: 60px; }
    footer div > nav a {
      line-height: 57px; } }
@media (min-width: 833px) {
  #logo {
    width: 800px; }

  div.site-navigation > ul.navbar-nav > li.nav-item > a.nav-link {
    line-height: 74px; } }

/*# sourceMappingURL=styles.css.map */
