{% extends "layout.html" %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <img class="col-12 col-sm-4" id="myphoto" src="/static/img/laugh.png" alt="my picture">
        <div class="col-12 col-sm-8">
            <h3>The Tumbling 20's</h3>
            <p>
                This website aims to alert people about the Tumbling 2020's depression and to offer a safe heaven blockchain-based asset: the
                T20. The money brought to the T20 fund will be invested in financial markets and cryptocurrencies
                markets accounting for the decline of the financial system and the rise of blockchain companies during the 2020's.
            </p>
            <h4>
                Cyril Attie
            </h4>
            <p>Ten years ago, when I was 14 years old, the Great Recession stroke the economy in 2008. For 5 years I
                heard everywhere that crisis had happened and the economy was doing poorly. I watched in the news stock
                market traders pulling their hair away, people demonstrating in the streets of New York and Madrid and
                long queues at every Greek ATM machine. During my first year in college studying physics I decided to
                understand what really happened. So I droped and started my journey to understand <a
                    href="{{url_for('intermediate')}}">what's a crisis</a> and <a
                    href="{{url_for('advanced')}}">how to prevent it</a>. I have conducted my investigation in
                private banking departments, trading and dealing rooms and brokerage firms. Focusing on monetary
                economics and the financial system, as they are the cause of crises, I stumbled upon Bitcoin and other
                cryptocurrencies. I authored an investigation of the impact of bitcoin in the monetary system in
                December 2017
                <!--  and have been trading the markets for 5 years -->.
            </p>
        </div>
    </div>
</section>

{% endblock %}