{% extends "layout.html" %}

{% block content %}
<section id="central-text" class="container">

  <h1>
    The Tumbling 2020's Forecast Paper
  </h1>
  <div id="abstract-index">
    <p id="abstract-text">
      This paper regards events in the monetary and financial plan that are causing the Tumbling 2020's Crisis. As well,
      the paper extends to forecasting the GreatMonetary reset that we are about to live, a greater rebirth than the
      Renaissance. It is a very interesting subject addressed to all people wanting to turn this revolution to their
      advantage in creative ways. The contents of this paper are as follows:
      <ol>
        <li><a href="#T20-model">The T20 Model</a></li>
        <li><a href="#testing-T20-model">Testing the T20 Model</a>
        <li><a href="#dot-com-crisis">The Dot-Com (.com) Crisis</a></li>
        <li><a href="#transition-between-crises">The Transition Between Crises</a></li>
        <li><a href="#great-recession">The Great Recession</a></li>
        </li>
        <li><a href="#bypassing-the-normal">Illegitimate Cheating to save the System</a></li>
        <li><a href="#2020-crisis-forecast">The Tumbling 2020's Crisis Forecast</a> </li>
        <li><a href="#forecasting-war">Trump Saving the System by Priming The Masses About War</a></li>
        <li><a href="#serfdom-vs-freedom">Serfdom vs Freedom</a></li>
        <li><a href="#monetary-reset">The Great Monetary Reset</a></li>
      </ol>
    </p>
    <div id="other-levels">
      <div class="d-md-inline-block p-md-2">
        <p>Completely new to economics? </p>
        <button><a href="{{ url_for('beginner')}}">Read Tumblien's Tale</a></button>
      </div>
      <div class="d-md-inline-block p-md-2">
        <p>
          Not familiar with economic slang?
        </p> <button><a href="{{ url_for('intermediate')}}">Read The Tumbling 20's
            Crisis page</a></button>
      </div>
    </div>
  </div>

  <p>
    Note from the author: the first time you read the Tumbling 2020's paper, I recommend <strong>to read it
      entirely</strong> once as there is a logical sequence of ideas that show evidence of the forecast. Please get in
    touch for any remark or comment. We appreciate hearing from you!
  </p>
  <p>
    A premise to forecast is to have <strong>indicators that warn ahead of time</strong> of what will happen. I will
    build this forecast on the model exposed <a href="crisis.html#crisis-explaination">here</a> that can be called the
    T20 model. I invite you to be patient. It hasn't been easy to create a model simple enough to be understood by
    everyone and, at the same time, helpful to understand and forecast economic happenings of our time.
  </p>
  <h2 id="T20-model">The T20 Model</h2>
  <p>
    The T20 model states monetary deflation and production surplus cause price deflation. And price deflation is the
    cause of falling revenue, profits and asset prices. Therefore <strong>indicators that warn of monetary deflation,
      like rising interest rates and debt being paid off, anticipate production
      surplus and crisis</strong>. Below you can see both measures: interest rates since 1954 and total debt securities
    of all sectors since 1946.
  </p>
  <h3>Total debt balance to the banking system (<i data-toggle="tooltip"
      title="Government, business and personal debt.">all sectors</i>) since 1946 to today</h3>
  <div class="embed-container responsive-img"><iframe
      src="https://fred.stlouisfed.org/graph/graph-landing.php?g=o5m1&width=670&height=475" scrolling="no"
      frameborder="0" style="overflow:hidden;" allowTransparency="true"></iframe></div>
  <script src="https://fred.stlouisfed.org/graph/js/embed.js" type="text/javascript"></script>

  <h3>Interest rates since 1954 to today</h3>
  <div id="chart-interest-rates" class="responsive-img embed-container"><iframe
      src="https://fred.stlouisfed.org/graph/graph-landing.php?g=o5lY&width=670&height=475" scrolling="no"
      frameborder="0" style="overflow:hidden;" allowTransparency="true"></iframe></div>
  <script src="https://fred.stlouisfed.org/graph/js/embed.js" type="text/javascript"></script>


  <p>
    At eyesight, total debt balance increases exponentially at least till 2010. To gain insight, the change
    year-over-year of the total debt balance will be more convenient. For those who are not into mathematics: the
    variation of an exponential growth also follows an exponential growth, in other words the change year-over-year of
    total debt balance is expected to have the same shape. Actually it kind of has the same shape: though more
    volatile, it is exponential until 2007. Later on it is discussed why debt increase doesn't look anymore exponential
    from 2007 <a href="#printing-money">later on here</a>.
  </p>

  <h3>Change in total debt balance year-over-year to the banking system since 1946 to today</h3>
  <div class="embed-container responsive-img"><iframe
      src="https://fred.stlouisfed.org/graph/graph-landing.php?g=o5lV&width=670&height=475" scrolling="no"
      frameborder="0" style="overflow:hidden;" allowTransparency="true"></iframe></div>
  <script src="https://fred.stlouisfed.org/graph/js/embed.js" type="text/javascript"></script>

  <p>
    For the curious: unless explicitly specified, "interest rates", in this paper, refers to the Effective Federal Funds
    interest
    rate which is the rate at which banks to borrow funds from each other overnight (for just one day). This
    rate leads all other interest rates and the central bank heavily influences this rate by trading in the short-term
    debt market.
  </p>
  <p>
    Important remark: you will notice that I always speak first about the US. The reason for that is that US dollars
    have been the world currency since 1945: massive international transactions, like oil and debt, have been
    conducted in US dollars. Besides US was the biggest client and the biggest seller of the international market. So
    whatever happened in the monetary plan, inflation or deflation, in US was likely affecting all other countries; at
    least those who trade internationally.
  </p>
  <h2 id="testing-T20-model">Testing the T20 Model</h2>
  <p>
    The last two crises happened in spring 2000, named dot-com crisis, and in autumn 2008, named real estate crisis.
    At these times asset prices fell more than 50% in less than 3 years. Half of the wealth of people disapeared in
    panic.
  </p>

  <h4 id="dot-com-crisis">The Dot-Com (.com) Crisis</h4>
  <p>
    Focusing on the dot-com crisis: between January 1999 and spring 2000 oil prices went from 10$/barrel to
    35$/barrel. Oil is used to transport products and make packaging materials, so an increase in the price of oil
    causes price inflation. Resulting in interest rates climbing from 4.6% to 6.5% in roughly the same period. From
    spring 2000 to summer 2002, in two years, the <i data-toggle="tooltip"
      title="The Nasdaq 100 is an sum of the price 100 most expensive companies of the stock market.">Nasdaq 100</i>,
    a sotck market index of tech companies fell from ~5000 to ~800. Near 85% of savings invested in these companies
    disapeared. Other indexes displayed also great losses:
    <ul>
      <li>S&P500 (United States) from 1560 to 760 ~51% loss</li>
      <li>Nikkei225 (Japan) from 21000 to 7500 ~65% loss</li>
      <li>SSE (China) from 2250 to 1000 ~55% loss</li>
      <li>HSI (Hong-Kong) 18300 to 8300 ~55% loss</li>
      <li>DAX30 (Germany) from 8400 to 2250 ~75% loss</li>
      <li>FTSE100 (United Kingdom) from 6950 to 3275 ~52% loss</li>
      <li>CAC40 (France) from 7000 to 2425 ~65% loss</li>
      <li>IBEX35 (Spain) from 13000 to 5250 ~60% loss</li>
    </ul>
    There are discrepancies between the indexes performance. However the common pattern is more than 50% loss in less
    than 3 years. The starting date was spring 2000. The trigger was a 2-year period of interest rates rising. The
    result, panic. The solution brought by banks was lower interest rates from 6.5% to 1%, that's a great stimulus.
  </p>
  <h4 id="transition-between-crises">The Transition Between Crises</h4>
  <p>
    Interest rates remained under 2% for ~3 years (fall 2001 to fall 2004). The government heavily sponsored
    home-buyers and financed two wars, Afghanistan and Iraq. A massive quantity US dollars was poured into the economy
    to reflate prices and kick off consumerism. The monetary economy being reflated oil prices traded above 40$/barrel
    in 2004, which is a sing of inflation return. In the next two years the central bank rose rates again. From 1% to
    5.25% in less than 2 years, that's a huge discouragement. Till then house prices had been rising thanks to the
    previous cheap credit, so they obviously stopped increasing. Rates stayed at 5.25% for more than a year. That was
    the indicator of a new crisis coming.
  </p>
  <h4 id="great-recession">The Great Recession</h4>
  <p>
    At the higher interest rate, people started defaulting on their mortgage. House prices fell due to demand drying
    out when supply was at its peak activity. Though the stock market and interest started falling in autumn 2007, they
    didn't crash
    till summer 2008 when the bankruptcy of systematically important financial institutions panicked investors.

    In the 3 years following October 2008 the asset prices fell more than 50% because of monetary deflation:
    <ul>
      <li>HGX (US housing market) from 600 to 55 ~90% loss</li>
      <li>S&P500 (United States) from 1575 to 675 ~57% loss</li>
      <li>Nikkei225 (Japan) from 18400 to 7000 ~61% loss</li>
      <li>SSE (China) from 6100 to 1675 ~72% loss</li>
      <li>HSI (Hong-Kong) 32000 to 11000 ~65% loss</li>
      <li>DAX30 (Germany) from 8225 to 3600 ~54% loss</li>
      <li>FTSE100 (United Kingdom) from 6750 to 3500 ~52% loss</li>
      <li>CAC40 (France) from 6170 to 2500 ~60% loss</li>
      <li>IBEX35 (Spain) from 16000 to 6700 ~58% loss</li>
    </ul>
    Assets prices fell more than 50% in 3 years. In the attempt to reflate the monetary base, <strong>the central bank
      lowered
      interest rates from 5.25% in summer 2007 to 0.2% in Christmas 2008</strong>. The low interest
    rates alerted
    investors of a possible devaluation of bank money to worthless paper, like recently happened in Venezuela. That's
    why in the same period Gold broke its all time high of ~800$/oz and skyrocketed to 1915$/oz during the next 5 years.
    That was a sing of the public awakening at banks dangerous games and protecting their wealth.
  </p>

  <p>
    Business was critically depressed. None wanted to take debt and the government debt to save financial
    institutions was not enough. The head of the central bank said he would throw money from an helicopter if
    necessary. Rather the central bank decided to buy assets, mainly financial assets like government <i
      data-toggle="tooltip" title="Bonds are pieces, typically of 100$ or 1000$, of government or corporate debt">bonds
      and stocks. This way
      they would <strong>inject money bypassing the need to find a debt taker</strong>.
  </p>
  <h4 id="bypassing-the-normal">Illegitimate Cheating to save the System</h4>
  <p>
    In effect, Bankers have injected $3,500 billion which is approximately 25% of the $14,000 billion existing as of
    2019 in 6
    years, from 2008 to 2014. A huge amount.
  </p>
  <p>
    The below chart plots the central bank assets. Since 1945 until 2009 the central bank assets were stable, below
    900 million dollars. Since 2008 to 2014 the central bank has acquired $3.5 trillion. Though originally the assets of
    the central bank were gold and silver that backed their liabilities that were central banks bills, now the game has
    radically changed. Since 2009 central banks store government and corporate bonds "as good as gold". But these
    government debts
    will be redeemed in terms of the central bank liability: the bill.
  </p>

  <div class="responsive-img" id="total-fed-assets" class="embed-container"><iframe
      src="https://fred.stlouisfed.org/graph/graph-landing.php?g=o63j&width=670&height=475" scrolling="no"
      frameborder="0" style="overflow:hidden;" allowtransparency="true"></iframe></div>
  <script src="https://fred.stlouisfed.org/graph/js/embed.js" type="text/javascript"></script>

  <p>
    Basically to buy government bonds central banks just need to increase your bank account in some units. Inflating
    accounts like this results
    in rising prices, among them, the prices of the assets bought. When they retrieve money by selling the
    bonds in the market, prices will fall due to monetary deflation. That is a really assymetric game in which they
    decide the turning points of the market as they are the biggest player in the market. They have infinite money, as
    they write the bank accounts.
  </p>

  <p>
    Note: the US central bank is privately owned by 12 regional banks, in turn owned by all
    banks belonging to the system. Ownership of the central bank is a must to belong to the system. Stock of
    these central banks cannot be traded or pledged and, by law, earn 6% dividend on capital invested.
    This dividend shall be <a href="https://www.federalreserve.gov/aboutthefed/section7.htm">cumulative</a>. Which
    means their share in the central bank can grow exponentially and then, the plan would be, to cash out future
    dividend when the equity share has grown. Compounding $1 at 6% for 100 years yields $339 for every dollar
    invested initially. Resulting in a dividend of ~$20 per $1 invested. That is for the US central bank that was the
    first modern central bank. In every country regulations regarding central bank profits distribution are different.
    However information asymetry is the same in every country. Those that happen to work at the central bank know in
    advance the turning points of the market and are able to make fortunes out of people savings.
  </p>
  <h2 id="2020-crisis-forecast">The Tumbling 2020's Crisis Forecast</h2>
  <p>
    As you can check in <a href="#chart-interest-rates">the above chart</a>, interest rates have been
    steadily increasing recently. Since December 2015 interest rates have gone from ~0.1% to ~2.4%. Furthermore, on
    the above <a href="#total-fed-assets">chart</a>, you can see the US central bank assets topped in January 2015 at
    ~$4.5 trillion. Since then the central bank has been draining out $640 billion from circulation, roughly the anual
    production of Argentina. These two measures show <strong>strongly deflationary signs</strong> in the monetary plan.
  </p>
  <p>
    Becuase Trump was elected in autumn 2016. Trumponomics have been very inflationary. So two opposite forces have
    been in action. First Trump spoke a lot about war with North Korea. Remember war is the way republicans, the
    right/"capitalists", spend money. But it was all fake and he's probably waiting a worst economic time to actually
    start reflationary-spending war. Also Trump lowered corporate tax rate from 35% to 20%, among other policies.
    This resulted in corporations having unexpected additional cash. For profits calculation, the increased financial
    cost
    was considered insignificant compared to the shrinked fiscal cost. Summing cost variations resulted in additional
    income for
    stock holders. Accordingly the stock market kept rising to new maximums, from ~5000 in Dec 2016 to ~7500 in Oct
    2018 +50%).
  </p>
  <p>
    Here is a first bold statement (at least as of June 5th 2019): the stock market reached its highest high one month
    ago, for the next 3 years the price will fall below 50% of its current price. How do I know a Crisis is coming? Well
    among many other roles in life I have been a trader in the stock market. Trading the stock market lets you observe
    greed and fear are the unconscious forces driving market prices. Fear is shown when the prices are underestimated.
    Typically towards the end of a crisis when prices crash most. Greed is shown when stock
    market prices are too high. High prices indicate overexpectation of future profits. And that is what has happened
    since 2016 to 2018.
  </p>
  <p>
    Let me highlight 2 indicators of greedy overconfidence. First prices today are twice the standard. Historically, a
    company propietary investment has always yielded ~10% (while a debt investment ~5%). In other words, according to
    standards, a
    property investment is recovered in ~10 years (and a lending investment in ~20 years). Nobody set these standards,
    they were naturally set, through centuries, by people preferences and willingness to invest. <strong>Centralized
      lending
      (central reserve finance) has made some companies' profits grow exponentially, specially those of banks,
      industrials, basic
      materials and technology</strong>. People tends to project past profit growth to the future, but profits do not
    depend in the past. Profits depend rather on revenue and costs, which depend on selling prices and financial costs.
    The latter two measures are highly influenced by monetary happenings mentioned above.
  </p>
  <p>
    (The next paragraphs are a little technical)
  </p>
  <p>
    Second, a very subtle greed indicator. In times of greed investors seek profit return, turning a blind eye on
    investment risk. This behavior results in a market event called inverted yield curve. In a normal yield curve,
    borrowing to long-term is more expensive yearly than borrowing to short-term and renovating the debt. This is
    'normal' because statistically default risk increases the longer the duration of the loan. However when stock market
    prices are overvalued, when a crisis is imminent, smart investors (usually high wealth investors) get out of the
    stock market. And where do they put the money?
    <p>

    </p>
    Before crises, smart money moves to government debt investment. In the context of a crisis, the central
    bank will lower interest rates to start reflating asset markets. Smart investors don't know how many years will
    the crisis and subsequent depression last, so they cautiously prefer to take long term bonds rather than short term
    ones.
    Short term bonds would have to be renovated soon at the lowered interest rates, earning less return. But by buying
    long
    term bonds smart money gets to receive a relatively high fixed income return for many years. A temporary refuge from
    the markets.

    Besides the old bonds (that earn a pre-crisis high interest rate) prices rise so that the yield (interest
    rate/price) balances with the new bonds earning post-crisis lower interest rate.
    So smart investors gain double: a safe stream of relatively high interest payments and bond price revaluation.
  </p>
  <p>
    The below pictures show inverted yield curve phenomenon. On the left graph, the yield curve is displayed. On the
    x-axis there is debt duration and on the y-axis there is the interest rate level. On the right graph the stock
    market
    price is charted, on the x-axis there is time and on the y-axis there is the price level.
  </p>
  <p>
    On the right graph you can see the time at which the the yield curve was shot. For the last two crises (2000 and
    2007) market tops were signaled by a
    flattened or inverted yield curve, as well as today (as of June 5th). I have also taken shots at other times
    during the uptrend so you can compare a normal yield curve with a flattened or inverted yield curve.
  </p>
  <div id="yield-curves">
    <div id="inverted-yield-curves">
      <figure>
        <img class="responsive-img" src="/static/img/iyc2000.png"
          alt="Oops! The image didn't load. Press F5 or visit the source website.">
        <figcaption>Inverted yield curve in 2000. Source: https://stockcharts.com/freecharts/yieldcurve.php
        </figcaption>
      </figure>
      <figure>
        <img class="responsive-img" src="/static/img/iyc2007.png"
          alt="Oops! The image didn't load. Press F5 or visit the source website.">
        <figcaption>Inverted yield curve in 2007. Source: https://stockcharts.com/freecharts/yieldcurve.php
        </figcaption>
      </figure>
      <figure>
        <img class="responsive-img" src="/static/img/iyc2019.png"
          alt="Oops! The image didn't load. Press F5 or visit the source website.">
        <figcaption>Inverted yield curve in 2019. Source: https://stockcharts.com/freecharts/yieldcurve.php
        </figcaption>
      </figure>
    </div>
    <div id="normal-yield-curve">
      <figure>
        <img class="responsive-img" src="/static/img/nyc2000.png"
          alt="Oops! The image didn't load. Press F5 or visit the source website.">
        <figcaption>Normal yield curve in 2000. Source: https://stockcharts.com/freecharts/yieldcurve.php
        </figcaption>
      </figure>
      <figure>
        <img class="responsive-img" src="/static/img/nyc2005.png"
          alt="Oops! The image didn't load. Press F5 or visit the source website.">
        <figcaption>Normal yield curve in 2007. Source: https://stockcharts.com/freecharts/yieldcurve.php
        </figcaption>
      </figure>
      <figure>
        <img class="responsive-img" src="/static/img/nyc2015.png"
          alt="Oops! The image didn't load. Press F5 or visit the source website.">
        <figcaption>Normal yield curve in 2019. Source: https://stockcharts.com/freecharts/yieldcurve.php
        </figcaption>
      </figure>
    </div>
  </div>
  <p>
    (End of technical part)
  </p>
  <p>
    Before summarizing the monetary and market indicators of a crisis, I would like to comment on one more. To pay off
    debt, we need to increase production faster than what debt is growing. Production can be increased either by
    increasing productivity per person, or by increasing the number of persons. In the last 10 centuries banking
    worked
    well because both were happening at the same time. But in many occidental countries we have reached a demographic
    plateau, or even a demographic depression. If you look at the <i data-toggle="tooltip"
      title="Demographic pyramids are a population distribution by 5-years age intervals">demographic pyramids</i>
    below, you will notice the world population is growing steadily. But growth is not equally distributed. Local
    population
    has been shrinking in developed countries like US, Germany and Spain. In countries like India population is
    stabilizing or steadily growing. Middle East and North Africa countries are experiencing the greatest growth
    rates.
  </p>
  <div id="demographic-pyramids">

    <figure>
      <img class="responsive-img" src="/static/img/dp_us.jpg"
        alt="Oops! The image didn't load. Press F5 or visit the source website.">
      <figcaption>US Demographic Pyramid. Source:
        https://www.cia.gov/library/publications/resources/the-world-factbook/geos/us.html
      </figcaption>
    </figure>

    <figure>
      <img class="responsive-img" src="/static/img/dp_de.jpg"
        alt="Oops! The image didn't load. Press F5 or visit the source website.">
      <figcaption>Germany Demographic Pyramid. Source:
        https://www.cia.gov/library/publications/resources/the-world-factbook/geos/gm.html
      </figcaption>
    </figure>

    <figure>
      <img class="responsive-img" src="/static/img/dp_sp.jpg"
        alt="Oops! The image didn't load. Press F5 or visit the source website.">
      <figcaption>Spain Demographic Pyramid. Source:
        https://www.cia.gov/library/publications/resources/the-world-factbook/geos/us.html
      </figcaption>
    </figure>


    <figure>
      <img class="responsive-img" src="/static/img/dp_world.jpg"
        alt="Oops! The image didn't load. Press F5 or visit the source website.">
      <figcaption>India Demographic Pyramid. Source:
        https://www.cia.gov/library/publications/resources/the-world-factbook/geos/xx.html
      </figcaption>
    </figure>

    <figure>
      <img class="responsive-img" src="/static/img/dp_in.jpg" alt="Oops! The image didn't load. Press F5 or visit the source website.">
      <figcaption>India Demographic Pyramid. Source:
        https://www.cia.gov/library/publications/resources/the-world-factbook/geos/in.html
      </figcaption>
    </figure>
    <figure>
      <img class="responsive-img" src="/static/img/dp_iraq.jpg" alt="Oops! The image didn't load. Press F5 or visit the source website.">
      <figcaption>India Demographic Pyramid. Source:
        https://www.cia.gov/library/publications/resources/the-world-factbook/geos/iz.html
      </figcaption>
    </figure>
  </div>
  <p>
    Demographic redistribution is not without consequences. Within developed countries, the most indebted countries,
    population is aging. The people who retires soon will need their savings. However too many elder drawing out their
    life time savings will cause a <strong>major</strong> crisis calamity.
  </p>
  <p>
    To sum up ideas. Is the stock market crashing?
  </p>
  <p>
    In the monetary plan interest rates have been rising and the central bank has started selling its assets. Since
    December 2015 the bank interest rate has gone from ~0.2% to ~2.4%. Since January 2015 the US central bank has sold
    $640 million of assets, draining out of circulation that amount. Monetary deflation sooner or later will cause,
    prices deflation and tumbling profits. <strong>As soon as the market anticipates falling profits a crisis starts:
      assets
      start tumbling.</strong>
  </p>
  <p>
    In the political economics plan additional cash due to corporate tax rate reduction has boosted inflation
    <strong>overconfidence and greed in the stock markets</strong>. Prices are twice the standard, so a downward
    correction is due.
    Falling profits can extend the tumble well below -50% giving place to a crisis. In addition, an inverted yield curve
    warns us investors are preferring longer-term bonds than shorter term, turning a blind eye on statiscal evidence of
    higher risk.
  </p>
  <p>
    In the demographic plan, in occidental countries, <strong>a great portion of the population is arriving at
      retirement age and will be soon withdrawing their lifetime savings while younger people is not saving as much due
      to consumist debt</strong>.
    A fall in the stock market could affect old people. Fear of realizing their loss might tempt them procrastinate
    selling their positions, but sooner or later they will have to for living. The crisis shall extend through the
    2020's, turning into a general depression.
  </p>
  <p>
    I invite you to take a look at this chart below. <strong>As of June 5th 2019 the Nasdaq 100 is at ~7200. My
      forecast is before 3 years from now the Nasdaq 100 will have reached ~3600. Odds are that the monetary-caused
      tumble will be more difficult to conceal than previous ones.</strong> Why?

  </p>
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_ff494"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/TVC-NDX/" rel="noopener"
        target="_blank"><span class="blue-text">NDX Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "autosize": true,
          "symbol": "TVC:NDX",
          "timezone": "Etc/UTC",
          "theme": "Light",
          "style": "2",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "range": "60m",
          "hide_side_toolbar": false,
          "container_id": "tradingview_ff494"
        }
      );
    </script>
  </div>
  <!-- TradingView Widget END -->

  <h2 id="forecasting-war">Trump Saving the System by Priming The Masses About War</h2>
  <p>
    To save the banking system a new credit greater than the previous credit expansion must be contracted. In what
    will the next credit be taken? <strong>For
      credit to be expanded, we need a credit banking system and credit takers. Business credit taker become rare in
      times of prices deflation.</strong>
  </p>
  <p> For centuries till decades ago, new credit was easily achieved by lowering interest rates. Profits prospects
    were high enough so that lower interest rates caused entrepreneurs to make more projects on credit.
  </p>
  <p>
    During two last crises entrepreneurs did not bite the hook of lower interest rates. Why entrepreneurs did not take
    loans easily? In the 1970's a great price inflation made governments launch programs to prevent inflation, like
    sponsoring agriculture. Arriving at the new millenia, necessary products prices were cheap and stable. During
    crises unemployment rose rapidly and price inflation tumbled. Stock market losses depressed consumption and people
    was not expected to consume more so entrepreneurs did not started new projects on credit.
  </P>
  <p>
    That's why after the 2000 crisis, wars and sponsored home programs were launched by the government to take credit.
    These political programs were not needed at all. They were just a means to keep the great financial-governmental
    scam alive. In the last crisis, 2008, <strong> lowering interest rates and government intervention to rescue banks
      was not enough to switch entrepreneurs' minds back from monetary deflation to inflation</strong>. That's why the
    central bank "exceptionally" bypassed the rules and expanded massively (+33% increase in 5 years 2009-2014) the
    quantity of money by buying assets in the market. And that worked.
  </p>
  <p>
    Eventually prices stabilized or rose steadily. Big corporations accumulated cash mountains as it is difficult to
    find profitable investments since 2008. Looking forward there are technological developments going on that could be
    profitable. But few or none of these are profitable during a price deflation (since 2015). Monetary deflation and a
    tumbling stock market are more than enough to draw back entreprenuers from taking credit. <strong>So to keep the
      system
      alive government will have to take a big credit. My forecast is that either government will rescue pension funds
      and
      help elder, or start a war</strong>. Odds are for a combination of both, in which war will predominate.
  </p>
  <p>
    Wars are much more profitable for both businessmen and financiers. Wars are very expensive so credit would be
    greatly expanded. Military, technological, industrial and clearly basic materials sectors boom during war times,
    greedy businessmen extasis. The cue for the war is Trump behavior. From summer 2017 to autumn 2018, we heard
    everywhere in the medias Trump ready to go to war with North Korea. But this was clearly not the real time! There
    was no need to save the system. The tax rate cut made everybody consume more because of rising stock prices. So
    Trump had no reason to open a war, other than his ego. The "confrontation" was rather a survey. Before throwing a
    real war in the future, Trump wanted to know how people reacts to war news. He was probably <a
      href="https://en.wikipedia.org/wiki/Priming_(psychology)">priming</a> the masses about war the way he does it when
    selling investment ideas to investors. He chose to do an exeptional action like confronting Kim Jong-un as an excuse
    to suggest war and nuclear war. He has shown himself like a volatile person willing to do anything. That way he
    reaped
    a significant sample of reactions on twitter and more medias to know which words must be used to lead masses to a
    real war.
  </p>

  <h2 id="serfdom-vs-freedom">Serfdom vs Freedom</h2>

  <p>
    Economics deal with <strong>how individual efforts are integrated to satisfy needs to sustain life</strong>. But
    it can go further. For example, medicine not only deals with how the body works internally. But it goes further.
    Medicine deals with being healthy, with the diagnosis, treatment and prevention of diseases. The purpose of
    medicine is to save lives. Economist can go further too. They could deal with <strong>integrating
      efforts maximizing individual freedom and collective collaboration.</strong>
  </p>
  <p>
    Actually success in life comes usually from the ability to integrate individual efforts in a solid collaboration.
    What successful solid collaboration integrate individuals? From couples to Governments, the financial system,
    religion and the company you work in. Even a freelancers are integrated directly to customers. Governement
    integrates individuals by preventing conflicts among them so each one can live as free as possible without
    bothering others. Finance is there to unite entrepreneurs with investors, so that the former can
    achieve their ideas and serve the sovereign consumers. Religion integrates people around stories, rituals and
    morality rules to help them connect with a long-term static purpose. Companies blend individual efforts to produce
    a demanded product or service. The common pattern to all collaborations is to unite people around a same purpose.
  </p>
  Purposes are like a seeds, and colletivities are the solid trees. All trees have the same shape, and the shape of
  collectivities is to unite people around a purpose. As Eric Raymond Steven and Clay Shirky have shown, <strong> once
    a purpose is defined collectivities can be organised top-down or bottom-up</strong>.
  </p>


  <p>
    <strong>In top-down structures, called institutions, purpose(s) are decided by one (or
      some) that communicate to the many. Then the many, often blindly, execute</strong>. Corporations are created
    this way. The executive officer and the board of directors take decisions, decisions are communicated to managers
    and managers plan deadlines, organize departments, lead people and control execution is following the right course
    of action; and then report to executive directors so they take more decisions. In top-down structures people is
    directed. Top-down structures are opaque, rigidly ordered: we cannot easily speak with the decision
    maker and when we get to speak he/she often has a too busy or closed mind to listen to other initiatives. A
    wedding is a good example of top-down structure. <strong>Religion, government and the banking system are also pure
      top-down structures</strong>.
  </p>
  <p>
    <strong>In bottom-up structures, called decentralized collaborations, small purposes that contribute to the
      collective purpose are set by all people</strong>. Bottom-up structures are usually born of the initiative of
    somebody. This creator starts implementing the idea and broadcasts to all people his implementation.
    As he works, other people having a similar purpose find interesting the project so they use it and contribute to
    it when they can. Communications are broadcasted to all the people. Eventually as anyone can see everything, the
    project is transparent and more secure. Also, people is more motivated as they have a personal interest that
    contribute to achieve the purpose. Each one can choose what to do at any moment. There are no institutional
    top-down instructions. Instead contributing to the collective purpose and/or helping others to contribute is
    considered a good deed. All talks and ideas are welcome.

    Bottom-up structures discovered that "given enough eyeballs, all problems become shallow". In other words, given
    enough people putting their attention into something all problems become evident. Internet
    is a good example of bottom-up structure, we all bring some content to the internet (photos, comments, memes...)
    contributing to the purpose of having a rich and effective source of content for any purpose. Bottom-up structures
    include all cultural developments like arts and sciences (painting, music, physics, mathematics) in which each
    artist or scientist
    contributes a piece to the cultural domain he belongs to. As well, open-source software development are bottom up
    structures in which
    each programmer can read, copy, modify and propose improvements to the community using this software. Bottom-up
    structures have built-in the philosophy of "none of us is as smart as all of us".

  </p>
  <p>
    I owe the idea of top-down and bottom-up structure to <a
      href="http://www.catb.org/~esr/writings/cathedral-bazaar/cathedral-bazaar/">the programmer Eric Raymond
      Steven</a> and to <a href="https://www.youtube.com/watch?v=sPQViNNOAkw">the economist Clay
      Shirky</a>.
  </p>
  <p>

    In 1453 the printing was invented. Before that date most people neither knew how to read nor
    to write. Most books had been written by religions. The printing supposed a cultural revival. Appart from
    literature, people started writing and reading on mathematics, physics, science, economics, medicine and a handful
    of other domains. Each of these subjects finally had a way to communicate through time and space, like religions
    did before, allowing them to accumulate a collective memory. The faster the communication the better bottom-up
    structures can collaborate. As Clay Shirky states it "communication is one of the big inputs to coordination".
    Indeed communication was the most expensive cost for culture to be broadcasted. Books supported this broadcasting
    during the Renaissance. Such a rich communication made us prosper in every field. And every field was developed
    bottom-up.
  </p>
  <p>
    Books became the space for a collective memory.<strong>Internet has boosted memory spreading and
      communication of collective thought. As well, Internet is becoming the space for collective registers and
      accounts operations</strong>.
  </p>
  <p>
    A computer is a machine able to do mental work. Initially invented to solve differential equations, they evolved
    to solve any problem. Their memory and speed has grown exponentially since the first machines in late 19th
    century. We can
    think of computers as slaves that don't stop to
    sleep, eat and go to the bathroom. They follow instructions *exactly* how you gave them. They extend one's mental
    power far beyond what a human mind can do. Computers do more work than humans. Imagine a person 24/7 searching for
    us trillions of pages for every search made. That is a web "server" executing a <strong>software: a set of
      instructions given to him</strong> on how to search. A program is just a task list for the computer. A server is
    a computer that serves the public. To communicate between them computers use a <strong>protocol similar to how
      humans use a protocol to intereact
      between them</strong>.
  </p>

  <p>
    Coming back to Eric Raymond Steven, in his book the Cathedral and the Bazaar he describes <strong>two kinds of
      softwares:
      commercial and open source</strong>. Commercial is aimed at making money. Revenue, income and profits for the
    stock
    holders. These include any software you pay for including online applications. Commercial software is usually
    delivered in machine language, which means you cannot read and modify the code. On the contrary, <strong>open
      source software means the code of the program is available to you</strong>. Open source is much more didactic.
    One gets to learn to program by reading code, modifying it, running it and finding the most elegant
    solution, which is hacking. Open source software lets you do all this helping you to learn to program. The world's
    best programmers use open source technologies because they enjoy learning from others' ideas so they have an
    interest in creating, contributing and sharing open source projects. Open source projects include <a
      href="https://www.gnu.org/">GNU</a>/<a href="https://github.com/torvalds/linux">Linux</a>,
    <a href="https://github.com/python">Python programming language</a> and public blockchains like <a
      href="https://github.com/bitcoin">Bitcoin</a> and <a href="https://github.com/ethereum">Ethereum</a>. The
    previous links take you to the code repository of these open source projects where you can download the code and
    eventually propose improvements.
  </p>

  <h2 id="monetary-reset">The Great Monetary Reset</h2>

  <p>
    <strong>Blockchain is an open-source protocol that allows decentralized peer-to-peer transactions using
      cryptography</strong>. Let's
    tackle what "decentralized", "peer-to-peer" and "cryptography" mean. Open-source software is
    explained in the previous 2 paragraphs.
  </p>
  <p>
    <strong>Decentralized means the servers are everywhere around the world</strong>. Anybody
    "Mining" is the name given to the work these servers do. This is because the one of these servers that resolves
    the problem first receives a fee.
  </p>
  <p>
    <strong>"Peer-to-peer" means transactions do not happen through an intermediary</strong>. For example, currently
    bank intermediaries are big banks and the central banks. These also use centralized servers. Banks can be and have
    been hacked more than once. But the news media is afraid of loosing easy money from banks if they issue that kind of
    news.
  </p>
  <p>
    <strong>Decentralization describes peer-to-peer networks and more secure</strong> than centralization.
    Centralization creates an
    information assymetry between individuals. People at the central institution that runs the system have a clear
    privilege. The central institution attract criminals, like cybercriminals. Decentralization incentivizes all
    people to participate in the system, it is an inclusive. Given enough eyeballs all security problems become
    shallow too. When so many programmers have money at stake in the blockchain, you can be peaceful that the software
    will perform securely. <a
      href="https://medium.com/@virgilgr/ethereum-is-game-changing-technology-literally-d67e01a01cf8">Here</a> is a
    mathematical article on how <strong>game theory</strong> analyzes and ensures blockchain security. Decentralized
    public
    blockchains are more secure than banks' servers.
  </p>
  <p>
    <strong>Open-source</strong> is more <strong>transparent</strong> than commercial software. Indeed all
    transactions performed on a blockchain are registered and verifiable. No currency pops out or disapears like
    with the banking tricks. When one wants to get a loan, another must lend his savings. Any person can read the code,
    execute it and check all is performed as it should. Any person can request comments, propose improvements to the
    blockchain and if it is interesting the idea will be implemented.
  </p>
  <p>So blockchain is an alternative to the banking system. Since the birth of Bitcoin, other blockchains start ups
    have been financed with Bitcoins, like Ethereum in 2015. <strong>The use of blockchain as a alternative currency to
      fiat has been
      coined Blockchain 1.0</strong> in the book Blockchain: Blueprint For A New Economy by Melanie Swan.
  </p>
  <p>
    One step ahead of currency are smart contracts. Accordingly <strong>smart contracts have been coined blockchain
      2.0</strong>.
    Bitcoin (2009) was originally just a currency and recently started supporting smart contracts. <strong>Ethereum
      (2014),
      the second largest blockchain by capitalization, was presented to the world as a decentralized applications
      platform. <strong>Smart contracts are obtained by using a decentralized blockchain and a shared memory, resulting
        in
        DApps: Decentralized Applications</strong>. Videos, comments and any file can stored in a shared memory and
      referenced by a transaction registered on the blockchain.
  </p>
  <p>
    <strong> Smart contract platforms fulfill the need of central middle point server with an army of connected
      computers distributed around the globe, executing any imaginable application at a low cost</strong>. Market places
    like Amazon, Taobao and Alibaba that take a commission. Content sharing platforms like Twitter, Facebook, Reddit,
    Instagram and Linkedin. All video platforms. <strong>*Any* application can be claimed registered as a smart
      contract</strong>.
  </p>
  <p>
    The next step is to integrate all these applications through a unique identity portal. <strong>Identity integration
      has been called Blockchain 3.0</strong>. It has some advantages and disadvantages. Advantages are to be ability to
    vote and travel identifying yourself with a virtual identity. Disadvantages are privacy, blockchain must increase
    freedom, not restrain it. Privacy,
    known as zero-knowledge transactions in the blockchain world, has also been a concern for blockchain communities
    since the beginning.
  </p>
  <p>
    It is only 10 years blockchains have been around and what seemed impossible seems to be actually happening. The
    world might be living profound changes that will truly awaken us to a better life for all.
  </p>
  <p>
    When I was growing up it was easy to lament and complain about war, poverty and social miseries. And then barely do
    anything. These are the effects of some unnoticed collective malfunction. Economics reveal the causes of everything.
    Miseries are clearly favored by priviledged top-down structures. These kind of structures forgo the *collective*
    will in favor of the privileged top benefit.
  </p>
  <p>
    In particular, the financial and bureaucratic system has raised up barriers of entry. Big credit loans are available
    only
    to big companies and high wealth people. As the comedian Bob Hope said "A bank is a place that will lend you money
    if you can prove that you don't need it". Finance is supposed to be a fertile ground of savings for ideas to be
    root up and it is bound return to its original purpose. I can't imagine a technology that can have a greater
    impact in our lives than blockchain.
  </p>
  <p>
    Blockchain will have:
    <ul>
      <li>
        financial impact: the gap between finance-backed capitalist and pure entrepreneurs with ideas will be
        filled. Blockchain will allow collaborations of any kind. Maybe even ephemere collaborations that only do one
        project
        and dissolve.
      </li>
      <li>
        Social and political impact: given enough eyeballs all (social) problems are shallow. Smart contracts will
        allow collective decision-making in a truly decentralized way. No more president, no more corruptible weak point
        in society. All equal highlighting local and global problems and proposing solutions. Implementation of social
        projects will imply defining specifications and verifying the project that has been fulfilled.
      </li>
      <li>
        Cultural revolution: the internet and computers today are similar to the printer in 1500. We are currently
        living an innovation-induced Rennaissance bottom-up. Communication and collaboration has never been so built
        into the infrastructure. Learning to read and write was back in 1500 provided an amazing power to integrate very
        new ideas. Today learning to read and write code provides an amazing power to integrate individuals into
        purposeful collaborations. Sharing purposes naturally selects the most optimal and fastest way to achieve them.
        The more we participate, learn and contribute in an organic way, the more we improve the system we live in. Now,
        more than ever before, we have the communication infrastructure to do it.
      </li>
      <li>
        Spiritual and art revolution: whatever you do in life expresses who you really are. Be an ascetic, you will
        express the desire to control natural needs. Work and you will be expressing desire to serve and enjoy life
        along with your family, friends or whoever you spend the money with. However you act expresses your voluntary
        side. Art is the expression or application of human creative skill and imagination. Blockchain has been created
        to free us from credit demand and let us express ourselves in a less demanding life.
      </li>
    </ul>
    "Our inventions are wont to be pretty toys, which distract our attention from serious things. They are but
    improved means to an unimproved end, an end which it was already but too easy to arrive at." ~ Thoreau
  </p>

</section>
{% endblock %}