{% extends "layout.html" %}

{% block content %}
    <section class="container">
        <h2 class= "row col-lg-8 col-sm-12">What is a Crisis?</h2>
        <div class="row col-lg-8 col-sm-12">
          <p>
            A Crisis is a period in which prices of all assets fall. 
            A crisis becomes a rough time for the people who have their savings invested in some asset as they loose 50% or more of their savings.
            A crisis is also good news for those that have been saving and are waiting for a convincing investment opportunity where they can make profit at a low risk.
            However, those who have lost a great portion of their savings tend to think negatively and become depressed. The latter, that before felt rich for having made profits, feel afraid of loosing more money after the crisis happens and then reduce their spending.
            This website is made for those who have not an economic background to get a glance on <a href="economics.html">how crises happen</a> and <a href="forecasting.html">how can we predict</a> its arrival.    
            </p>
          </div>
      </section>
{% endblock %}

