{% extends "layout.html" %}

{% block content %}
    <section class="container">
        <h2 class= "row col-lg-8 col-sm-12"></h2>
        <div class="row col-lg-8 col-sm-12">
          <p>
            A Crisis is a period in which prices of all assets fall. <br> <br>
            It is often associated with a bad or wrong time for the economy. 
            Indeed people who have their savings invested become frightened to loose 50% of their savings.
             For most of the people it is a tough time.
            Employers struggle to earn revenue as clients have lost wealth and consume less.
            Many employees get fired as companies struggle to earn enough money to pay them.
            The blossoming unemployed people make a crisis an even tougher time for businesses to find revenues. 
            Furthermore, the prices of companies' assets fall, making it difficult to find a good investment.<br><br>
            
            However people that have been saving wait for such an opportunity to buy assets at a cheap price.<br> <br>
          
            Those who have lost their savings as well as those who become unemployed tend to think negatively. And that's how we can remember a crisis triggers an economic depression.
            An economic depression is a period of time after prices have fallen in which it is very difficult to start a business. 
            This website is made for those who do not have an economic background to get a glance on <a href="{{ url_for('economics')}}">how crises happen</a> and <a href="{{url_for('forecasting')}}">how can we predict</a> its arrival.    
            </p>
          </div>
      </section>
{% endblock %}

