{% extends "layout.html" %}

{% block content %}
<section class="container">
  <div class="row">
    <div class="col-sm-4">
        
    </div>  
    <div class="col-sm-8 col-12">
      <h2>Hello, Crisis!</h2>
        <span>
          <p>
          A Crisis is a period in which prices of all <i data-toggle="tooltip" title="A tangible asset is a real estate or production good. An intangible asset is a share of the property or the debt often linked to a set of tangible assets like a company.">assets</i>
          fall. 
          </p>
          <p>It is often associated with a bad or wrong time for the economy, less for those who know what a crisis really
            is. 
          </p>
            Indeed people who have their savings invested in some asset become frightened to have lost 50% of their
            savings. For most of the people it becomes a tough time. 
            Clients have lost wealth and consume less so businesses struggle to earn <i data-toggle="tooltip" title="Revenue is the income of companies.">revenue</i> .
            Many employees get fired as companies fail to earn enough money to pay them.
            The blossoming unemployed people make the strive for revenue even more difficult.
            The falling revenues sweep a great portion of <i data-toggle="tooltip" title="Profit is the income of owners of companies. It is the result of subtracting costs to revenues.">profits</i>.
            The standard in the stock market is that the price of a company rises to 10 times the profits of the company.
            With a disappearing profits stock prices fall even more
          </p>
          <p>
            However people that have been saving find a great opportunity to buy assets at a cheap price. Which is low risk investment. <br> <br>

            Those who have lost their savings as well as those who become unemployed tend to think negatively. And that's
            how we can remember a crisis triggers an economic depression.
            An economic depression is a period of time after prices have fallen in which it is very difficult to start a
            business.
            This website is made for those who do not have an economic background to get a glance on <a href="{{ url_for('economics')}}">how
              crises happen</a> and <a href="{{url_for('forecasting')}}">how can we predict</a> its arrival.
          </p>
        </span>
    </div>
  </div>
</section>
{% endblock %}