{% extends "layout.html" %}

{% block content %}
<section id="central-text" class="container">
  <h1>Hello, Crisis!</h1>
  <div id="abstract-index">
    <p id="abstract-text">
      Abstract: Using an intermediate economics language this page deals with:
      <ol>
        <li><a href="#what-crisis-are">What are crises? Problems or opportunities?</a></li>
        <li><a href="#how-crisis-happen">How crisis happen?</a></li>
        <li><a href="#why-crises-recur">Why crises keep recurring?</a></li>
        <li><a href="#solutions">What are the innovative solutions proposed to avoid further crises?</a> </li>
      </ol>
    </p>
    <div id="other-levels">
      <div class="d-md-inline-block p-md-2">
        <p>Completely new to economics? </p>
        <button><a href="{{ url_for('beginner')}}">Read Tumblien's Tale</a></button>
      </div>
      <div class="d-md-inline-block p-md-2">
        <p>
          Experienced market analyst?
        </p> <button><a href="{{ url_for('advanced')}}">Read The Tumbling 20's
            paper</a></button>
      </div>
    </div>
  </div>
  <div class="text">
    <h2 id="what-crisis-are">What are crises? Problems or opportunities?</h2>
    <p>
      The crystal clear criteria of a Crisis happening is that prices of <i data-toggle="tooltip"
        title="A tangible asset is a real estate or production good. An intangible asset is a share of the property or the debt often linked to a set of tangible assets like a company.">assets</i>
      fall sharply, behind 50% of their peak price in a short period, less than ~3 years.
    </p>
    <p>
      Though crises are associated to a problem for the economy, those who know what a crisis
      really is call it an opportunity.
    </p>
    <p>
      Indeed, those that had savings invested in some asset become frightened of having lost 50% of their
      wealth. That happens to all those who were not informed on how to foresee the Crisis. That is why this website
      alerts people in advance so they can take decisions before the storm.
    </p>
    <p>
      For most people the crisis becomes a
      bad time. Savers, having lost wealth, consume less. So businesses struggle to earn <i data-toggle="tooltip"
        title="Revenue is the income of companies.">revenue</i>. As people realizes how much money they have lost
      shopping sales slow down and store inventories pile up. Eventually companies lower prices in a desperate search
      for revenue. But wages cannot be lowered (not below the minimum legal threshold). Consequently companies fire
      employees as they fail to earn enough money to pay <i data-toggle="tooltip"
        title="Liabilities are all the debts or pending payments, as for example wages, that a company owes.">liabilities</i>.
      The blossoming unemployed people difficults even more the rush for revenue, and falling revenues sweep a
      great portion of <i data-toggle="tooltip"
        title="Profit is the income of owners of companies. It is the result of subtracting costs to revenues.">profits</i>.
      In the stock market, a fair price for a company is 10 times the profits of the company.
      With a disappearing profits stock prices fall even more, below 50% their peak price. And that is, in short, a
      Crisis happening.
    </p>
    <p>
      But there's a right side to everything. People that can dispose of money during the crisis can get very cheap
      prices.
      This group can be divided in two major categories: </p>
    <ol>
      <li>Those that have savings</li>
      <li>Those that can take a credit</li>
    </ol>
    <p>
      The cheaper the price of an investment the lower the risk. To be prepared for a crisis means having savings or
      credit in order to buy at a low price and risk.
      On the selling side of the market panic, frustration and anxiety is taking over. People that invested at a high
      price want to see prices come back to their peak. But prices plunge spreading negativity. Unemployed people also
      thinks negatively. Crisis-induced negativity gave its name to economic depressions. An economic depression
      happens
      after a crisis, which is after prices have fallen. Entrepreneurs are negative about starting a new business,
      unemployed loose hope about finding better jobs, consumption falls, production piles up in shops and then
      production stays depressed for a long period.
    </p>
    <p>
      But government personnel, not like entrepreneurs, do not need to worry about giving back credit and even have
      incentives to spend: gaining popularity among recipients of the spending and among bankers. Popularity is
      welcomed to be elected again. Bankers finance the government spending as well as the political campaigns.
      Actually all the banking system depends on government reflating money by taking a big credit, otherwise they
      would need to <i data-toggle="tooltip"
        title="First coined by Milton Friedman in 1969, the expression Helicopter money was used by Ben Bernake to show the central bank would do anything to reflate the quanity of money">throw
        bills form an helicopter</i>.
    </p>
    <p></p>
    Money reflation is commonly called monetary stimulus. The government is the only entity
    that can relaunch the economy by taking a big credit and pouring this new money
    into the circulation. As soon as the government and the medias speak about spending, "stimulate" or "rescue" the
    economy, the mood reverts. The entrepreneur public starts believing the prices will eventually turn up again.
    Then entrepreneurs take credit to acquire capital at the cheap price. And the cycle loops.
    </p>
    <p>
      So crises are also the opportunity for governments to make the expensive projects. Expensive government projects
      are
      wars or infrastructure: like roads, hospitals, public transport, schools and administration. In every country a
      fake dialectical opposition collaborates towards expanding debt: left vs right, red vs blue, progressists vs
      "conservatives", communists vs "capitalists" (quotes indicate words are misused). This opposition is
      always willing to spend in order to gain popularity albeit among different groups. The left-communist prefers to
      spend on
      social measures, favoring the low-income people and minorities. The right-"capitalists" prefer to spend on
      armament and wars, favoring military, industrial, technological and basic material companies.
      <p>
      </p>
      From the economic point of vue both are suboptimal. <i data-toggle="tooltip"
        title="Murray Rothbard has made an extensive demonstration of how state organized economies are less optimal than economices organized by freedom and voluntary choice. Refer to 'Power and Market' and 'Economics in One Lesson'">Economically,
        the optimal government abstains
        from demanding products and services in the market</i>, but rather serves the market orchestrating individual
      initiatives
      so they blend and gear together.
    </p>

    <h2 id="how-crisis-happen">How crisis happen?</h2>

    <p id="crisis-explaination">
      During periods of <strong><i data-toggle="tooltip"
          title=" Inflation happens when the quantity of money is increasing, generally due to credit granting.">monetary
          inflation</i>,
        the quantity of circulating money inflates due to credit</strong>. Mainly businessmen and speculators take
      credit:
      <ol>
        <li>Businessmen buy capital products.</li>
        <li>Speculators buy assets to re-sell them at a higher price.</li>
      </ol>

      The greater quantity of money is felt as it becomes easier to find somebody willing to give you money what you
      sell, whether products, services or assets. Basically more money is bidding the same quantity of work and
      products available, so wages and product prices
      increase. In other words, the value of money falls. <strong>Product prices or wages increasing is called price
        inflation</strong>. Price inflation isn’t felt simultaneously by all people.
    </p>
    <p>
      As credit granted to businessmen is used to buy capital products, the firsts to feel inflation are the traders
      of capital products. Typically military, industrial, technological and basic materials sectors. Their revenue
      abnormally increases as new customers, that wouldn’t buy without the existence of credit, come to buy products.
    </p>
    <p>As <i data-toggle="tooltip"
        title="Mainly military, industrial, technological and basic materials sector.">capital companies</i> increase
      their revenue. Accordingly they expand production employing more people and raising the salary of already
      existing employees. As the new money filters down to employees, all products sales increase and eventually
      product prices inflate. Consequently, sooner or later, most companies see their revenues and profits increase
      and attempt to expand production. To expand production, companies employ more people. Unemployment falls. As
      people
      find new job openings, wages on average increase. However, as prices increase too, a given same quantity of
      money is
      able to purchase less goods. In other words money loses value.
    </p>
    <p> <strong>To avoid a too noticeable decrease in the value of money banks rise <i data-toggle="tooltip"
          title="Interest rates is the interest amount due per period as a proportion of the total debt.">interest
          rates</i></strong>. Recall, profits equal revenues minus costs. Rising interest rates increases financial
      costs, so
      directly shrinks business profits. As projects become less profitable, entrepreneurs and speculators abandon
      their projects. They fire people, <i data-toggle="tooltip"
        title="Liquidate means sell immediately for cash.">liquidate</i> capital and give back their credit to the
      bank. Money flows back to the banks and piles up there. <strong>The circulating money deflates</strong>, gets
      scarcer. It becomes
      more difficult to find <i data-toggle="tooltip"
        title="Buyers are people willing to give money for products, services or assets.">buyers</i> at the current
      high prices. So all prices, products, wages and assets, tend to revert their uptrend and to start falling.
      <strong>The
        monetary deflation causes price deflation: all products prices fall</strong>. Then money is revaluating as a
      given
      quantity of money buys more products.
    </p>
    <p>
      Expectations of lower products prices make asset prices fall even before revenues and profits decrease. A
      crisis starts before price deflation reaches product prices. Asset prices start falling towards under 50% of
      their peak price in less than 3 years. And this is how crisis happen. We could let prices adjust for natural
      demand. Capital would redistribute towards the most demanded industries, regardless of credit, and <i
        data-toggle="tooltip"
        title="This is healthy readjustment process is very well explained in the book Human Action by Ludwig Von Mises.">
        all
        production
        would be optimized to the customer demand</i>. Instead a new monetary expansion is forced through credit
      relaunching the inflationary phase that will result in the next crisis.
    </p>


    <h2 id="why-crises-recur">Why crises keep recurring?</h2>

    <strong>Prices crashing</strong> are opportunity times: entrepreneurs and speculators sell assets cheaper than
    elsewhen because of the urgency to pay off their debt. So prices stay at such a depressed level as long as no one
    takes a credit. In times of deflation, not any entrepreneur dares to take a credit. The bad times are too
    recent and the prospect of business are unexciting. Basically if nobody takes a credit again all the money
    disappears. If money disapears the trading would collapse and restart on another monetary basis, other than
    banking.
    </p>

    <p>
      There is a detail, that is rarely understood, that I deem the most important fact of the monetary cycle loop.
      In order to be able <strong>to give back the debt, entrepreneurs and the government need rising prices</strong>.
      In a
      deflationnary environment it is increasingly difficult to raise money and so to give back the debt. That is
      why, on signs of deflation (typically rising interest rates), entrepreneurs give back their debt. <strong>To
        keep the prices
        steadily increasing, subsequent credits must be bigger than previous ones</strong>. In other words, the
      quantity of bank
      money is always increasing, which is against the very nature of money. Let me illustrate this with an example.
      You might not get everything the first time you read it, just keep reading till the end and it will get clearer.
    </p>
    <p>
      Let’s imagine a society in which there are 100 ounces of gold existing. In this society gold is used as money.
      Every year 1 ounce is mined, and 1 ounce gets lost in the sea or nature. So the quantity of gold is constant.
      Some gold is circulating and some
      is stored. One of the people of the society makes a central bank and:
      <ul>
        <li>One day, referred as day 1 of year 1 everybody puts his ounces of gold in the bank in
          exchange for a bill</li>
        <li>During the first 5 years, the bank issues 4 additional bills per year and lends them to entrepreneurs and
          speculators at 2.5% interest per year (Interest cost is a
          percentage of the previous end-of-year debt balance)</li>
        <li>After five years, to dissimulate monetary (and price) inflation caused by the 2.5% interest credit granted,
          banks rise the
          interest
          rates to 6%. They keep the interest rates at this high level for 5 years from day 1 year 5 to day 1 year 11
        </li>
        <li>The yearly credit granted increases by 4 every inflation period (so from year
          11 to year 16, the quantity of bills issued through credit per year is 8 bills)</li>
        <li>The yearly credit returned to the banks increases by 2 every deflation period (so from year
          16 to year 21, the quantity of bills issued through credit per year is 6 bills)</li>
      </ul>
      <p>
        So
        at the beginning of the first year there are 100 bills existing and circulating. And the bank stores 100
        ounces
        of gold that back the bills.After 5 years the quantity of bills circulating inflates to
        120 (initial 100 plus 4 per year during 5 years). The debt balance at the end of the fifth year is 21.55 bills
        (20 issued as credit plus 1.55 of accumulated interest
        costs of the 5 years). At this stage prices have been rising: the monetary inflation has caused price
        inflation.
      </p>
      <p>
        Banks rise interest rates to 6% causing monetary deflation: entrepreneurs return bills to the bank to avoid
        financial costs. The circulating bills decrease instead of increasing. In other words, every year, 4 bills are
        subtracted from the circulating bills and put into the bank.
      </p>
      <p>
        After 5 years returning money to the banks, the quantity of money has fallen back to 100 bills. But now prices
        are lower than at the beginning, do you guess why? Credits taken by entrepreneur in the first 5 years were
        used to buy capital products. These productive investments are giving results. Capital products have the
        ability to increase productivity, which is the quantity of products we produce per day (or any other unit of
        time). Capital assets acquired during the first 5 years are yielding greater availability of products. Greater
        availability of products result in lower prices. But remember, for governments and entrepreneurs to pay off
        debts we need stable or steadily increasing prices.
      </p>
      <p>
        To compensate for the lower prices, the money to be poured into circulation through credit must be greater
        than the previous credit. <strong>Bankers increase the yearly credit granted by 4 every inflation period. So
          from year
          11 to year 16, the quantity of bills issued through credit per year is 8 bills. Also, the yearly credit
          returned
          to the banks increases by 2 every deflation period. Therefore from year 16 to year 21 the yearly
          quantity of bills
          returned is 6 bills</strong>.
      </p>
      <p>
        The following table illustrates the evolution of the monetary and financial state,
        the
        money and debt quantities, every year for the first 50 years and every 25 years for the next 250 years.
      </p>
  </div>
  <div class="table-wrapper table-responsive-sm">
    <table class="table table-sm table-hover table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">Year</th>
          <th scope="col">Existing bills</th>
          <th scope="col">Circulating bills</th>
          <th scope="col">Bills in the banks</th>
          <th scope="col">Issued bills</th>
          <th scope="col">Returned bills</th>
          <th scope="col">Debt before interests</th>
          <th scope="col">Interest rate</th>
          <th scope="col">Interest cost of year</th>
          <th scope="col">Debt after interests</th>
        </tr>
      </thead>
      <tbody class="table-stripped">
        <tr>
          <td>0</td>
          <td>100</td>
          <td>100</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0.025</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>1</td>
          <td>104</td>
          <td>104</td>
          <td>0</td>
          <td>4</td>
          <td>0</td>
          <td>4</td>
          <td>0.025</td>
          <td>0.1</td>
          <td>4.1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>108</td>
          <td>108</td>
          <td>0</td>
          <td>4</td>
          <td>0</td>
          <td>8.1</td>
          <td>0.025</td>
          <td>0.203</td>
          <td>8.303</td>
        </tr>
        <tr>
          <td>3</td>
          <td>112</td>
          <td>112</td>
          <td>0</td>
          <td>4</td>
          <td>0</td>
          <td>12.303</td>
          <td>0.025</td>
          <td>0.308</td>
          <td>12.611</td>
        </tr>
        <tr>
          <td>4</td>
          <td>116</td>
          <td>116</td>
          <td>0</td>
          <td>4</td>
          <td>0</td>
          <td>16.611</td>
          <td>0.025</td>
          <td>0.415</td>
          <td>17.026</td>
        </tr>
        <tr>
          <td>5</td>
          <td>120</td>
          <td>120</td>
          <td>0</td>
          <td>4</td>
          <td>0</td>
          <td>21.026</td>
          <td>0.025</td>
          <td>0.526</td>
          <td>21.552</td>
        </tr>
        <tr>
          <td>6</td>
          <td>120</td>
          <td>116</td>
          <td>4</td>
          <td>0</td>
          <td>4</td>
          <td>17.552</td>
          <td>0.06</td>
          <td>1.053</td>
          <td>18.605</td>
        </tr>
        <tr>
          <td>7</td>
          <td>120</td>
          <td>112</td>
          <td>8</td>
          <td>0</td>
          <td>4</td>
          <td>14.605</td>
          <td>0.06</td>
          <td>0.876</td>
          <td>15.481</td>
        </tr>
        <tr>
          <td>8</td>
          <td>120</td>
          <td>108</td>
          <td>12</td>
          <td>0</td>
          <td>4</td>
          <td>11.481</td>
          <td>0.06</td>
          <td>0.689</td>
          <td>12.17</td>
        </tr>
        <tr>
          <td>9</td>
          <td>120</td>
          <td>104</td>
          <td>16</td>
          <td>0</td>
          <td>4</td>
          <td>8.17</td>
          <td>0.06</td>
          <td>0.49</td>
          <td>8.66</td>
        </tr>
        <tr>
          <td>10</td>
          <td>120</td>
          <td>100</td>
          <td>20</td>
          <td>0</td>
          <td>4</td>
          <td>4.66</td>
          <td>0.06</td>
          <td>0.28</td>
          <td>4.94</td>
        </tr>
        <tr>
          <td>11</td>
          <td>120</td>
          <td>108</td>
          <td>12</td>
          <td>8</td>
          <td>0</td>
          <td>12.94</td>
          <td>0.025</td>
          <td>0.324</td>
          <td>13.264</td>
        </tr>
        <tr>
          <td>12</td>
          <td>120</td>
          <td>116</td>
          <td>4</td>
          <td>8</td>
          <td>0</td>
          <td>21.264</td>
          <td>0.025</td>
          <td>0.532</td>
          <td>21.796</td>
        </tr>
        <tr>
          <td>13</td>
          <td>124</td>
          <td>124</td>
          <td>0</td>
          <td>8</td>
          <td>0</td>
          <td>29.796</td>
          <td>0.025</td>
          <td>0.745</td>
          <td>30.541</td>
        </tr>
        <tr>
          <td>14</td>
          <td>132</td>
          <td>132</td>
          <td>0</td>
          <td>8</td>
          <td>0</td>
          <td>38.541</td>
          <td>0.025</td>
          <td>0.964</td>
          <td>39.505</td>
        </tr>
        <tr>
          <td>15</td>
          <td>140</td>
          <td>140</td>
          <td>0</td>
          <td>8</td>
          <td>0</td>
          <td>47.505</td>
          <td>0.025</td>
          <td>1.188</td>
          <td>48.693</td>
        </tr>
        <tr>
          <td>16</td>
          <td>140</td>
          <td>134</td>
          <td>6</td>
          <td>0</td>
          <td>6</td>
          <td>42.693</td>
          <td>0.06</td>
          <td>2.562</td>
          <td>45.255</td>
        </tr>
        <tr>
          <td>17</td>
          <td>140</td>
          <td>128</td>
          <td>12</td>
          <td>0</td>
          <td>6</td>
          <td>39.255</td>
          <td>0.06</td>
          <td>2.355</td>
          <td>41.61</td>
        </tr>
        <tr>
          <td>18</td>
          <td>140</td>
          <td>122</td>
          <td>18</td>
          <td>0</td>
          <td>6</td>
          <td>35.61</td>
          <td>0.06</td>
          <td>2.137</td>
          <td>37.747</td>
        </tr>
        <tr>
          <td>19</td>
          <td>140</td>
          <td>116</td>
          <td>24</td>
          <td>0</td>
          <td>6</td>
          <td>31.747</td>
          <td>0.06</td>
          <td>1.905</td>
          <td>33.652</td>
        </tr>
        <tr>
          <td>20</td>
          <td>140</td>
          <td>110</td>
          <td>30</td>
          <td>0</td>
          <td>6</td>
          <td>27.652</td>
          <td>0.06</td>
          <td>1.659</td>
          <td>29.311</td>
        </tr>
        <tr>
          <td>21</td>
          <td>140</td>
          <td>122</td>
          <td>18</td>
          <td>12</td>
          <td>0</td>
          <td>41.311</td>
          <td>0.025</td>
          <td>1.033</td>
          <td>42.344</td>
        </tr>
        <tr>
          <td>22</td>
          <td>140</td>
          <td>134</td>
          <td>6</td>
          <td>12</td>
          <td>0</td>
          <td>54.344</td>
          <td>0.025</td>
          <td>1.359</td>
          <td>55.703</td>
        </tr>
        <tr>
          <td>23</td>
          <td>146</td>
          <td>146</td>
          <td>0</td>
          <td>12</td>
          <td>0</td>
          <td>67.703</td>
          <td>0.025</td>
          <td>1.693</td>
          <td>69.396</td>
        </tr>
        <tr>
          <td>24</td>
          <td>158</td>
          <td>158</td>
          <td>0</td>
          <td>12</td>
          <td>0</td>
          <td>81.396</td>
          <td>0.025</td>
          <td>2.035</td>
          <td>83.431</td>
        </tr>
        <tr>
          <td>25</td>
          <td>170</td>
          <td>170</td>
          <td>0</td>
          <td>12</td>
          <td>0</td>
          <td>95.431</td>
          <td>0.025</td>
          <td>2.386</td>
          <td>97.817</td>
        </tr>
        <tr>
          <td>26</td>
          <td>170</td>
          <td>162</td>
          <td>8</td>
          <td>0</td>
          <td>8</td>
          <td>89.817</td>
          <td>0.06</td>
          <td>5.389</td>
          <td>95.206</td>
        </tr>
        <tr>
          <td>27</td>
          <td>170</td>
          <td>154</td>
          <td>16</td>
          <td>0</td>
          <td>8</td>
          <td>87.206</td>
          <td>0.06</td>
          <td>5.232</td>
          <td>92.438</td>
        </tr>
        <tr>
          <td>28</td>
          <td>170</td>
          <td>146</td>
          <td>24</td>
          <td>0</td>
          <td>8</td>
          <td>84.438</td>
          <td>0.06</td>
          <td>5.066</td>
          <td>89.504</td>
        </tr>
        <tr>
          <td>29</td>
          <td>170</td>
          <td>138</td>
          <td>32</td>
          <td>0</td>
          <td>8</td>
          <td>81.504</td>
          <td>0.06</td>
          <td>4.89</td>
          <td>86.394</td>
        </tr>
        <tr>
          <td>30</td>
          <td>170</td>
          <td>130</td>
          <td>40</td>
          <td>0</td>
          <td>8</td>
          <td>78.394</td>
          <td>0.06</td>
          <td>4.704</td>
          <td>83.098</td>
        </tr>
        <tr>
          <td>31</td>
          <td>170</td>
          <td>146</td>
          <td>24</td>
          <td>16</td>
          <td>0</td>
          <td>99.098</td>
          <td>0.025</td>
          <td>2.477</td>
          <td>101.575</td>
        </tr>
        <tr>
          <td>32</td>
          <td>170</td>
          <td>162</td>
          <td>8</td>
          <td>16</td>
          <td>0</td>
          <td>117.575</td>
          <td>0.025</td>
          <td>2.939</td>
          <td>120.514</td>
        </tr>
        <tr>
          <td>33</td>
          <td>178</td>
          <td>178</td>
          <td>0</td>
          <td>16</td>
          <td>0</td>
          <td>136.514</td>
          <td>0.025</td>
          <td>3.413</td>
          <td>139.927</td>
        </tr>
        <tr>
          <td>34</td>
          <td>194</td>
          <td>194</td>
          <td>0</td>
          <td>16</td>
          <td>0</td>
          <td>155.927</td>
          <td>0.025</td>
          <td>3.898</td>
          <td>159.825</td>
        </tr>
        <tr>
          <td>35</td>
          <td>210</td>
          <td>210</td>
          <td>0</td>
          <td>16</td>
          <td>0</td>
          <td>175.825</td>
          <td>0.025</td>
          <td>4.396</td>
          <td>180.221</td>
        </tr>
        <tr>
          <td>36</td>
          <td>210</td>
          <td>200</td>
          <td>10</td>
          <td>0</td>
          <td>10</td>
          <td>170.221</td>
          <td>0.06</td>
          <td>10.213</td>
          <td>180.434</td>
        </tr>
        <tr>
          <td>37</td>
          <td>210</td>
          <td>190</td>
          <td>20</td>
          <td>0</td>
          <td>10</td>
          <td>170.434</td>
          <td>0.06</td>
          <td>10.226</td>
          <td>180.66</td>
        </tr>
        <tr>
          <td>38</td>
          <td>210</td>
          <td>180</td>
          <td>30</td>
          <td>0</td>
          <td>10</td>
          <td>170.66</td>
          <td>0.06</td>
          <td>10.24</td>
          <td>180.9</td>
        </tr>
        <tr>
          <td>39</td>
          <td>210</td>
          <td>170</td>
          <td>40</td>
          <td>0</td>
          <td>10</td>
          <td>170.9</td>
          <td>0.06</td>
          <td>10.254</td>
          <td>181.154</td>
        </tr>
        <tr>
          <td>40</td>
          <td>210</td>
          <td>160</td>
          <td>50</td>
          <td>0</td>
          <td>10</td>
          <td>171.154</td>
          <td>0.06</td>
          <td>10.269</td>
          <td>181.423</td>
        </tr>
        <tr>
          <td>41</td>
          <td>210</td>
          <td>180</td>
          <td>30</td>
          <td>20</td>
          <td>0</td>
          <td>201.423</td>
          <td>0.025</td>
          <td>5.036</td>
          <td>206.459</td>
        </tr>
        <tr>
          <td>42</td>
          <td>210</td>
          <td>200</td>
          <td>10</td>
          <td>20</td>
          <td>0</td>
          <td>226.459</td>
          <td>0.025</td>
          <td>5.661</td>
          <td>232.12</td>
        </tr>
        <tr>
          <td>43</td>
          <td>220</td>
          <td>220</td>
          <td>0</td>
          <td>20</td>
          <td>0</td>
          <td>252.12</td>
          <td>0.025</td>
          <td>6.303</td>
          <td>258.423</td>
        </tr>
        <tr>
          <td>44</td>
          <td>240</td>
          <td>240</td>
          <td>0</td>
          <td>20</td>
          <td>0</td>
          <td>278.423</td>
          <td>0.025</td>
          <td>6.961</td>
          <td>285.384</td>
        </tr>
        <tr>
          <td>45</td>
          <td>260</td>
          <td>260</td>
          <td>0</td>
          <td>20</td>
          <td>0</td>
          <td>305.384</td>
          <td>0.025</td>
          <td>7.635</td>
          <td>313.019</td>
        </tr>
        <tr>
          <td>46</td>
          <td>260</td>
          <td>248</td>
          <td>12</td>
          <td>0</td>
          <td>12</td>
          <td>301.019</td>
          <td>0.06</td>
          <td>18.061</td>
          <td>319.08</td>
        </tr>
        <tr>
          <td>47</td>
          <td>260</td>
          <td>236</td>
          <td>24</td>
          <td>0</td>
          <td>12</td>
          <td>307.08</td>
          <td>0.06</td>
          <td>18.425</td>
          <td>325.505</td>
        </tr>
        <tr>
          <td>48</td>
          <td>260</td>
          <td>224</td>
          <td>36</td>
          <td>0</td>
          <td>12</td>
          <td>313.505</td>
          <td>0.06</td>
          <td>18.81</td>
          <td>332.315</td>
        </tr>
        <tr>
          <td>49</td>
          <td>260</td>
          <td>212</td>
          <td>48</td>
          <td>0</td>
          <td>12</td>
          <td>320.315</td>
          <td>0.06</td>
          <td>19.219</td>
          <td>339.534</td>
        </tr>
        <tr>
          <td>50</td>
          <td>260</td>
          <td>200</td>
          <td>60</td>
          <td>0</td>
          <td>12</td>
          <td>327.534</td>
          <td>0.06</td>
          <td>19.652</td>
          <td>347.186</td>
        </tr>
        <tr>
          <td>---</td>
          <td>-------</td>
          <td>-------</td>
          <td>-------</td>
          <td>-------</td>
          <td>-------</td>
          <td>-------</td>
          <td>-------</td>
          <td>-------</td>
          <td>-------</td>
        </tr>
        <tr>
          <td>75</td>
          <td>470</td>
          <td>470</td>
          <td>0</td>
          <td>32</td>
          <td>0</td>
          <td>1313.424</td>
          <td>0.025</td>
          <td>32.836</td>
          <td>1346.26</td>
        </tr>
        <tr>
          <td>100</td>
          <td>660</td>
          <td>550</td>
          <td>110</td>
          <td>0</td>
          <td>22</td>
          <td>4011.774</td>
          <td>0.06</td>
          <td>240.706</td>
          <td>4252.48</td>
        </tr>
        <tr>
          <td>125</td>
          <td>1020</td>
          <td>1020</td>
          <td>0</td>
          <td>52</td>
          <td>0</td>
          <td>11534.934</td>
          <td>0.025</td>
          <td>288.373</td>
          <td>11823.307</td>
        </tr>
        <tr>
          <td>150</td>
          <td>1310</td>
          <td>1150</td>
          <td>160</td>
          <td>0</td>
          <td>32</td>
          <td>34404.966</td>
          <td>0.06</td>
          <td>2064.298</td>
          <td>36469.264</td>
        </tr>
        <tr>
          <td>175</td>
          <td>1820</td>
          <td>1820</td>
          <td>0</td>
          <td>72</td>
          <td>0</td>
          <td>93396.431</td>
          <td>0.025</td>
          <td>2334.911</td>
          <td>95731.342</td>
        </tr>
        <tr>
          <td>200</td>
          <td>2210</td>
          <td>2000</td>
          <td>210</td>
          <td>0</td>
          <td>42</td>
          <td>277318.322</td>
          <td>0.06</td>
          <td>16639.099</td>
          <td>293957.421</td>
        </tr>
        <tr>
          <td>225</td>
          <td>2870</td>
          <td>2870</td>
          <td>0</td>
          <td>92</td>
          <td>0</td>
          <td>745289.322</td>
          <td>0.025</td>
          <td>18632.233</td>
          <td>763921.555</td>
        </tr>
        <tr>
          <td>250</td>
          <td>3360</td>
          <td>3100</td>
          <td>260</td>
          <td>0</td>
          <td>52</td>
          <td>2211230.889</td>
          <td>0.06</td>
          <td>132673.853</td>
          <td>2343904.742</td>
        </tr>
        <tr>
          <td>275</td>
          <td>4170</td>
          <td>4170</td>
          <td>0</td>
          <td>112</td>
          <td>0</td>
          <td>5932858.369</td>
          <td>0.025</td>
          <td>148321.459</td>
          <td>6081179.828</td>
        </tr>
        <tr>
          <td>300</td>
          <td>4760</td>
          <td>4450</td>
          <td>310</td>
          <td>0</td>
          <td>62</td>
          <td>17600235.46</td>
          <td>0.06</td>
          <td>1056014.128</td>
          <td>18656249.588</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text">
    <p>

      <strong>The table shows how after 40 years running such a banking system it is impossible to pay off the
        debt</strong>:
      the bills existing in total are 210, of which 160 are circulating and 50 are in the bank. But the total debt
      owed to the bank has become 181
      bills. Circulating 160, owed 181. Basically there is not anymore enough bills circulating to pay off the debt
      owed to the bank.
      Consequently this debt can never be paid after 40 years, <strong>peoples using this money are
        trapped</strong>. Any
      inflation of the circulating bills implies an equal and growing the debt increase. Due to interest rates the
      debt exponentially increases through time. And only an exponential production can cope with an
      exponential debt. But production is not exponential, and <a href="beopen.org" target="_blank">shouldn't
        be</a>.
    </p>
    <p>
      The only chance for people to pay the debt would be to devalue completely the bills. But it is
      absurd
      to devalue money, money was created to store value. To store the value of work between the times of production
      and
      of consumtion. The value of wealth, which originally was accumulated work. So instead, <strong>expansion and
        contractions of the quantity of money keep recurring causing crises</strong>.</p>
    <p>
      The example is meant to demonstrate the absurdity of the monetary and financial system and government debt;
      unless their purpose is to service bankers rather than peoples. But it is not. To introduce the innovative
      solutions brought to prevent further crisis it is convenient to recall the original purpose of money, finance
      and the government. Originally:
      <ul>
        <li>Money, the monetary system, appeared to store wealth, which is accumulated work time.</li>
        <li>Finance, the financial system, appeared as a meeting point for entrepreneurs and savers.</li>
        <li>Government appeared to ease individual interactions maximizing the freedom of all and mediating on
          conflicts.</li>
      </ul>
    </p>
    <h2 id="solutions">What are the innovative solutions proposed to avoid further crises?</h2>
    <p>
      To sum up previous ideas. Rising interests deflates money by making make entrepreneurs pay off debt. Deflation
      spirals and only government, a profit-careless institution incurs debt and spends to save the banking system.
      From crisis to crisis, credits are ever increasing and banking money ever inflates so product prices steadily
      increase. Governments could contribute more to the personal well-being by letting the poisoned banking system
      fall and heading their actions towards optimizing and protecting the integration of individual efforts. But
      centralized finances have generated an mediatic empire too strong to be challenged and it is often easier for
      politicians to collaborate.
    </p>
    <p>
      In every crisis, there is a healthy vs a precipitated choice to be made. The precipitated choice
      is to react to the provoked crisis: relaunch the economy with a government credit. Massive
      government credit has sustained the system. Credit mantains the artificially swollen capital products industry
      and
      the rising product prices. However the healthy choice is to halt the assymetrically privileged bill-money
      system and to return to an open and explicit monetary system. Either by using metal money like gold and silver
      or by using blockchain crypto-currencies and tokens. Probably the solution lies in a combination of both.
    </p>
    <p>
      Gold and silver have historically been key products to store value and so to be used as money. They are
      transportable, durable and divisible. Their rareness and properties make them valuable items. The current
      financial system was based on gold and silver money and it is likely that conservative people will return to
      this money for secure local trading.
    </p>
    <p>
      On the other side even though blockchains are still experimenting scalability and mass adoption, they’re
      proving to be the
      most legitimate alternative to optimize integration of people's efforts. Blockchains, especially smart
      contracts, allow to integrate individuals according to programmed rules that resolve conflicts and remove the
      central authority with an algorithm. Central authority is corruptible. Politicians of the government have
      proven to be either economic ignorants or hipocritical conspirators that collaborate with bankers. Whichever,
      blockchain smart contracts bring an incorruptible solution to this weakness of society's collaboration.
    </p>
    <p>
      To conclude, crisis are often thought of as an accident but many people benefit from it and some intentionally
      provoke it. You can read <a href="{{url_for('advanced')}}">the tumbling 2020’s forecast about the 2020 crisis as
        well as the decline of the current monetary and financial systems in favor of Blockchain-based money and
        finance</a>.
    </p>
    <button><a href="{{ url_for('advanced')}}"> Read The Tumbling 20's
        paper</a></button>
  </div>
</section>

{% endblock %}